<!-- templates/check_out.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Check Out A Book</title>
    <link rel="stylesheet" href='/static/styles/main.css' />
</head>
<body>
    <p id="breadcrumb"><a href="/">Homepage</a> > Check Out</p>
    <h1>Check Out A Book</h1>
    <div>
        <p>
        To check out a book:<br>
        Locate the book's ID number.<br>
        Have your library number ready.<br>
        Access the checkout form.<br>
        Enter the book ID and your library number.<br>
        Review and confirm.<br>
        Click the checkout button.<br>
        Receive confirmation of successful checkout. Happy reading!
        </p>
        <form action="{{ check_out }}" method="POST">
            <label for="bookID">Book ID Number</label>
            <input type="text" id="bookID" name="bookID"><br>
            <label for="IDNumber">Your Library Number</label>
            <input type="text" id="IDNumber" name="IDNumber"><br>
            <input type="submit" value="Check Out">
        </form>
    </div>  
</body>
</html>