<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Tramelsville Library System</title>
    <link rel="stylesheet" href='/static/styles/main.css' />
</head>
<body>
    <div id="message">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
    </div>
    <div>
        <h1>Welcome to the Tramelsville Library System</h1>
        <p>Welcome to our library, a sanctuary for book lovers and knowledge seekers alike. Step into a world of imagination and discovery as you browse through our vast collection of books spanning various genres and subjects. From classic literature to contemporary bestsellers, our shelves are brimming with captivating stories and profound insights waiting to be explored. Whether you're seeking an escape from reality, conducting research, or simply looking to expand your horizons, our library is here to cater to your literary needs. Our friendly and knowledgeable staff are always ready to assist you in finding the perfect book or offer recommendations tailored to your interests. Join us in this haven of words and embark on a transformative reading journey that will inspire, educate, and captivate your mind.</p>
    </div>
    <div>
        <a href="books" class="button">View All Books</a>
        <a href="check_out" class="button">Check Out A Book</a>
        <a href="return" class="button">Return A Book</a>
    <div>
</body>
</html>
