<!-- templates/return.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Return A Book</title>
    <link rel="stylesheet" href='/static/styles/main.css' />
</head>
<body>
    <p id="breadcrumb"><a href="/">Homepage</a> > Book Return</p>
    <h1>What Book Are You Returning?</h1>
    <div>
        <p>To return a book:<br>
            Fill out the return form, entering the book's ID number.<br>
            Place the book in the designated return slot at the library. No need to wait in line.<br>
            Enjoy the satisfaction of completing your return hassle-free!</p>
        <form action="{{ return }}" method="POST">
            <label for="bookID">Book ID #</label>
            <input type="text" id="bookID" name="bookID" required><br>
            <input type="submit" value="Return Book">
        </form>
    </div>
</body>
</html>