body {
  background-color: #faf4ed;
}

h1 {
  color: #56949f;
  text-align: center;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

p {
  color: #575279;
  text-align: left;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 16x;
}

div {
  margin: auto;
  text-align: center;
  width: 500px;
}

a:link {
  color: #286983;
}

a:visited {
  color: #56949f;
}

a:hover {
  color:#575279;
}

.button {
  background-color: #f2e9e1; 
  color: #797593;
  padding: 20px 25px;
  margin: 20px auto auto auto ;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
  width: 33%;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.button:hover {
  background-color: #286983; 
  color: #fffaf3;
}

ul {
  color: #575279;
  display: inline-block;
  text-align: left;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 16px;
  margin: auto;
}

li{
  list-style-type: none;
  border: 1px solid #cecacd;
  margin: 10px 0;
  padding: 10px;
  width: 400px;
  display: inline-block;
  text-align: left;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #cecacd;
  border-radius: 8px;
  box-sizing: border-box;
}

label {
  color: #575279;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 18x;
}

input[type=submit]{
  background-color: #f2e9e1;
  border: none;
  color: #575279;
  padding: 12px 20px;
  text-decoration: none;
  margin: 8px 0px;
  cursor: pointer;
  transition-duration: 0.4s;
}

input[type=submit]:hover{
  background-color: #286983; 
  color: #fffaf3;
}

#breadcrumb {
  color: #cecacd !important;
  text-align: center;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

#message {
  color: #286983;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
  font-size: 24x !important;
}