body {
    background-color: #faf4ed;
  }
  
  h1 {
    color: #56949f;
    text-align: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;
  }
  
  p {
    color: #575279;
    text-align: left;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 16x;
  }

  div {
    margin: auto;
    width: 500px;
  }

a:link {
  color: #286983;
}

a:visited {
  color: #56949f;
}

a:hover {
  color:#575279;
}

.button {
  background-color: #f2e9e1; 
  color: #797593;
  padding: 20px 25px;
  margin: 20px auto auto auto ;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
  width: 33%;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.button:hover {
  background-color: #ea9d34; 
  color: #fffaf3;
}

ul {
  color: #575279;
  text-align: left;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: px;
  margin: auto;
}

li{
  border: #575279;
  margin: 15px 0;
}